@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme static {
  --color-basic-green: #054239;
  --color-basic-green-gray: rgb(204 219 211);
  --color-basic-gold: #b9a779;
  --color-basic-red: #4a151e;
}

@theme {
  --font-arabic: "Noto Sans Arabic", sans-serif;
  --font-english: cursive;
  /* Breakpoints */
  --breakpoint-sp: 375px; /* Small Phone */
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  /* Images */
  --background-image-hero-track: url('./assets/images/track.jpg');
  --background-image-hero-person: url('./assets/images/person.jpg');
  /* Animations */
  --animate-border-rotate: border-rotate 4s linear infinite;
  --animate-page-load: page-load 0.8s ease-out forwards;
  --animate-page-load-person: page-load 0.8s ease-out 0.9s forwards;

  @keyframes page-load {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.75);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(0.9);
    }
  }

  @keyframes shining {
    0% {
      transform: scale(0) rotate(30deg);
      opacity: 0;
    }
    50% {
      transform: scale(1) rotate(30deg);
      opacity: 1;
    }
    100% {
      transform: scale(1.5) rotate(30deg);
      opacity: 0;
    }
  }

  @keyframes border-rotate {
    from {
      --border-angle: 0deg;
    }
    to {
      --border-angle: 360deg;
    }
  }
}

@media (max-width: 326px) {
  .width {
    width: 112%;
  }
}
